
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(1.2);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: max-content;
  width: max-content;
  background-color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-btn {
  position: relative;
  margin: 8px 8px;
  float: right;
  top: -43px;
  left: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,&:focus,&:active {
    border-color: $fillColor;
    outline: none;
  }


}

.close-btn__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .close-btn:hover & {
    fill: $fillColor;
  }
  .close-btn:active & {
    fill: $fillColor;
  }
  .close-btn:focus & {
    border-color: $fillColor;
    outline: none;
    fill: $fillColor;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-form__main {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.form__name,
.form__tel,
.form__email {
  padding: 8px 0 8px 32px;
  position: relative;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus, &:active {
      border-color: $fillColor;
      outline: none;
    }
    &:focus + .form__svg {
      fill: #2196f3;
    }
    &:hover + .form__svg {
      fill: #2196f3;
    }
    &:active + .form__svg {
      fill: #2196f3;
    }
}

.form__svg {
  position: absolute;
  bottom: 9px;
  left: 10px;
  fill: #212121;
  display: inline-block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

#comment {
  padding: 10px;

  min-width: 100%;
  min-height: 120px;
  max-width: 100%;
  max-height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0 0;
  resize: none;

  &:active{
    border-color: $fillColor;
    outline: none;
  }
  &:focus{
    border-color: $fillColor;
    outline: none;
  }
  &::placeholder {
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding: 6px;
    color: rgba(117, 117, 117, 0.5);
    margin-bottom: 20px;
  }
}

.form label {
  margin-bottom: 4px;
}

label {
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

#modal__mail, #modal__tel, #modal__name {
  display: block;
  padding-left: 30px;
  width: 448px;
  height: 40px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  display:inline;
  cursor: pointer;
  font-family: Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}



.checkbox__info::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  top: 4px;
  left: -5px;
  position: relative;
}


.checkbox__info {
  margin-right: 8px;
  border: 1px solid black;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.checkbox:checked + .checkbox__info {

  background-image: url("../../../../img/icons/icon_check.svg");
  background-color: $fillColor;
  background-repeat: no-repeat;
  background-position: center;
  border-color: $fillColor;
  background-origin: border-box;
}

.checkbox_link {
  border-bottom: 1px solid #188CE8;
  font-family: Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.03em;
  color: #188CE8;
}

.form-button {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  padding: 10px 55px;
  color:white;

  font-family: Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  border: none;

  background: $fillColor;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}


