.web {
  font-family: 'Raleway',Arial,sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: $fillColor;
  letter-spacing: 0.03em;
}

.studio {
  font-family: 'Raleway',Arial,sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #212121;
}
