
.section-icon{
  padding: 94px 0 94px;
}
.team {
  background: #F5F4FA;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}


.section_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__item {
  display:block;
  width: 270px;
  height: 120px;
  background-color:#F5F4FA;
  content: "";
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper__name{
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
}

.wrapper__text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;

}


.wrapper__box {
  display: flex;
  justify-content: center;
  padding: 25px 0 33px;
  width: 270px;
  height: 128px;
}
