.section-header {
  padding: 200px 0 200px;
  background-image:
          linear-gradient( to right, rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4) ),
          url('../../../../img/img-hero.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
}

.header {
  display: inline-block;
  height: 100vh;
  width: 100%;
  background: #2F303A;
}

.section-header__title {
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-header__button {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: auto;
  text-align: center;
  padding: 10px 32px;
  background: $fillColor;
  color: white;
  border-radius: 3px;
  border: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: #054C81FF;
  }
  &:focus {
    background: #054C81FF;
  }
  &:active {
    background: #054C81FF;
  }
}


