footer {
  background: #2F303A;
  padding: 60px 0 60px;
}

.footer__menu {
  display: flex;
  align-items: baseline;
}
.first__menu {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  text-decoration: none;
  margin-bottom: 20px;
}

.footer_studio {
  color: white;
  font-family: 'Raleway-Regular',Arial,sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.address__list{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer_contact{
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    color: $fillColor;
    outline: none;
  }
  &:focus{
    color: $fillColor;
    outline: none;
  }
}

.second__menu {
  margin-left: 70px;
}

.footer-name {
  margin-bottom: 20px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.footer-networks {
  display: flex;
  position: absolute;
  justify-content: space-between;
  gap: 10px;
}

.footer-networks__link{
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) );
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:focus,&:hover,&:active{
    background: #2196F3;
    outline: none;
  }

}

.footer-networks__svg {
  fill: #FFFFFF;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.third__menu {
  display: block;
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}


#footer-form__email{
  width: 358px;
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto,Arial,sans-serif;
  &::placeholder{
    padding-left: 16px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  &:focus:hover:active {
    border-color: white;
    outline: none;
  }
}

.footer-button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: 50px;
  gap: 10px;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
